<template>
    <div class="card card-block">
        <div class="container" data-bind="foreach: currentTasks">
            <div class="row" data-bind="css: itemCssClass($data)">
                <div class="col">
                    <a href="#" data-bind="text: title, click: showCurrent"></a>
                </div>
                <div class="col">
                    <!-- ko if: $data.current -->
                    <button type="button" class="col btn btn-primary" data-bind="click: itemsRepo.task.removeCurrent">
                        Not Current
                    </button>
                    <!-- /ko -->
                </div>
                <div class="col">
                    <!-- ko if: !($data.completeDate || subtask.totalCount > 0) -->
                    <button type="button" class="col btn btn-primary" data-bind="click: itemsRepo.task.complete">
                        Complete
                    </button>
                    <!-- /ko -->
                    <!-- ko if: $data.completeDate -->
                    <div data-bind="text: completeDate"></div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</template>
<script type="text/javascript" src="current-tasks.js"></script>