<template>
    <!-- ko if: editedTask -->
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <textarea class="modal-title" data-bind="text: editedTask().title" style="min-width: 100%"></textarea>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" data-bind="checked: makeItem">
                        <label class="form-check-label">
                            Replace with Item
                        </label>

                        <!-- TODO provide old path and ability to write a new one -->

                    </div>
                    <div data-bind="visible: !makeItem()">
                        <input data-bind="value: editedPriority">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bind="click: save">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</template>
<script type="text/javascript" src="edit-task.js"></script>