
.item {
    background-color: #ffffff;
}

.task {
    background-color: #ffffcc;
}

.g-completed {
    background-color: #a5ffcc;
    color: red;
}

.g-deleted {
    background-color: #ff837a;
    color: red;
}