
.item {
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
}

.task {
    background-color: #ffffcc;
    border-bottom: 1px solid #ccc;
}

.g-completed {
    background-color: #a5ffcc;
    color: red;
}

.g-deleted {
    background-color: #ff837a;
    color: red;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
    text-align: center;
}